<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="StefH WebDAV-Client" value="https://www.myget.org/F/webdav-client/api/v3/index.json" protocolVersion="3" />
	<add key="DecaTec WebDAV-Client" value="https://www.myget.org/F/decatec/api/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
